.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
}
.list {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.icon {
  stroke: rgb(242, 242, 242);
  cursor: pointer;
  transition: all 0.3s ease;
}
.icon:hover {
  stroke: rgb(162, 209, 255);
}
.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  padding: 4px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown li {
  padding: 8px 12px;
  cursor: pointer;
  color: #000;
  transition: all 0.3s ease;
  font-size: 14px;
}

.dropdown li:hover {
  background-color: #ceeaff;
}

.burger {
  display: none;
}

.burger {
  display: none;
  width: 30px;
  height: 22px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 200;
}

@media (max-width: 768px) {
  .burger {
    display: flex;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
  }
}

.burgerLine {
  height: 3px;
  background-color: rgb(222, 244, 255);
  border-radius: 2px;
  transition: all 0.3s ease;
}

.open .line1 {
  transform: rotate(45deg) translate(7px, 5px);
}

.open .line2 {
  opacity: 0;
}

.open .line3 {
  transform: rotate(-45deg) translate(8px, -6px);
}
